extends layout.pug

block content
    p -most popular-
    h1 level 6- #{lev6}
    h1 level 5- #{lev5}
    h1 level 4- #{lev4}
    h1 level 3- #{lev3}
    h1 level 2- #{lev2}
    h1 level 1- #{lev1}
    p -least popular-